
  <mat-toolbar class="navbar">
    
    <div>
      <mat-icon>menu</mat-icon>
      Canvas
    </div>

    <div class="">
        
      <mat-icon class="text-gray-400">search</mat-icon>
      
        <button mat-icon-button [matBadge]="cartCount" matBadgeColor="primary">
          <mat-icon class="text-gray-400">shopping_cart</mat-icon>
        </button>
      
        <button mat-icon-button [matBadge]="notificationCount" matBadgeColor="primary">
          <mat-icon class="text-gray-400">notifications</mat-icon>
        </button>
      
        <button mat-icon-button [matBadge]="commentCount" matBadgeColor="primary">
          <mat-icon class="text-gray-400">comment</mat-icon>
        </button>
        
      
        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon class="text-gray-400">account_circle</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>
    
  </mat-toolbar>




  