 <!-- Navbar -->
    <app-navbar></app-navbar>

  
  <!-- Main container -->
    <mat-sidenav-container> <!-- Sidebar and Content container -->
      <mat-sidenav #sidebar mode="side" opened> <!-- Sidebar -->
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content> <!-- Content area -->
        <div class="content">
          <div class="toolbar">
            
              <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
            
          </div>
        </div>
        <app-content></app-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
   
<router-outlet></router-outlet>