<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner position-relative" role="listbox">
    <mat-card class="image-card">
      <img
        class="image-1 carousel-image"
        src="{{ getSlide() }}"
        alt="grow_trees"
      />
      <button
        mat-raised-button
        class="position-absolute-prevbtn"
        (click)="getPrev()"
      >
        <<
      </button>
      <button
        mat-raised-button
        class="position-absolute-nextbtn"
        (click)="getNext()"
      >
        >>
      </button>
      <div class="text">
        <p class="text1">Sed ut perspiciatis unde omnis iste natus.</p>
        <p class="text2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi saepe
          cum dolores molestias ab ratione temporibus, expedita culpa autem
          placeat aliquid iure tempora illum suscipit? Neque porro laborum
          ducimus esse omnis voluptate reiciendis corrupti pariatur.
        </p>
      </div>
    </mat-card>
  </div>
</div>
